@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  /* 상속 불가능 요소 (박스 관련된 요소들은 상속 불가능) */
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 본문 스타일 */
body {
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #181818;
}
/* 레이아웃 */
.header,
.visual,
.footer-inner,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; */
}

/* 겹침 Cascading */
/* 우선순위 규칙 */
/* li (Type Selector) - 1점 */
/* .first (Class Selector) - 10점 */
/* #item (ID Selector) - 100점 (스타일에서는 가급적 피하려고 함.)*/

/* :before / ::before ==> first child(버전 차이로 콜론 개수 차이) */
/* :after / ::after ==> last child */
/* .member -> 10, li -> 1, ::before -> ==> 12 */
/* .member li::before {
  content: ":";
} */

/* .member -> 10, .first -> 10, ::before -> 1 ==> 21 */
/* .member .first::before {
  content: "";
} */
/* .member li:first-child::before {
  content: "";
} */

/* .member li:nth-child(n + 2)::before {
  content: ":";
} */

/* .member li:nth-child(n + 2):nth-child(-n + 4) {
  background-color: yellow;
} */

/* .member a {
  text-transform: uppercase;
} */

/* 비주얼 */
.visual {
  height: 120px;
}
/* 메인 */
.main {
  background: lightgreen;
  min-height: 450px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  display: flow-root;
}

.group {
  float: left;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner {
  background: silver;
}
